li {
	display: flex;
	align-items: center;
	padding: 1em 0;
	background-color: var(--background);
	list-style: none;
	border-radius: 6px 6px 0 0;
	color: var(--light-dark-grayish-blue);
	border-bottom: 1px solid var(--border);
}
.cross-button {
	margin: 0 1em 0 auto;
}
.check-img {
	display: none;
	margin: 0.3em 0.3em;
}
.todo-check-active-img {
	display: block;
}
.todo-check-active {
	background: linear-gradient(#57ddff, #c058f3);
}
.todo-check-checked {
	text-decoration: line-through;
	color: var(--light-dark-grayish-blue);
}
