:root {
	--primary-bright-blue: #3a7bfd;
	--primary-check-background: linear-gradient(#57ddff, #c058f3);
	--primary-blue: #3a7bfd;
}

:root {
	--background: #fafafa;
	--border: #e4e5f1;
	--light-very-light-grayish-blue: #e4e5f1;
	--light-light-grayish-blue: #d2d3db;
	--light-dark-grayish-blue: #9394a5;
	--light-very-dark-grayish-blue: #484b6a;
}

[data-theme='dark'] {
	--dark-very-dark-blue: #161722;
	--background: #25273c;
	--border: #4d5066;
	--dark-light-grayish-blue: #cacde8;
	--dark-light-grayish-blue-hover: #e4e5f1;
	--dark-dark-grayish-blue: #777a92;
	--dark-very-dark-grayish-blue: #4d5066;
	--dark-very-dark-grayish-blue-hover: #38394d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Josefin Sans', sans-serif;
}
